<link rel="stylesheet" type="text.css" href="../public/index.css">

<h1 class=headercolor> Game Scores For Today </h1>

<p> Score: <%= @soccerscores.scraping_results %> </p>

<img src="http://upload.wikimedia.org/wikipedia/en/thumb/e/e8/WC-2014-Brasil.svg/719px-WC-2014-Brasil.svg.png">