
<link rel="stylesheet" type="text.css" href="/index.css">

<head> 
    <h1 class=bold> World Cup Brasil 2014 </h1>
</head>

<body class=background>
    <h1 class=headercolor> Game Scores For Today </h1>

    <p class=text> The Game Times and Scores Today Are: <%= @soccerscores.scraping_results %> </p>

    <img src="http://upload.wikimedia.org/wikipedia/en/thumb/e/e8/WC-2014-Brasil.svg/719px-WC-2014-Brasil.svg.png">

    <h1 class=bold> World Cup Brasil 2014 </h1>
</body>